.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px; /* Add padding to prevent overlap with the navbar */
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
    background-color: #f0f0f0; /* Background color */
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.pageTitle {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.pageContent {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pageContent h2 {
    margin-top: 0;
    text-align: center;
}

.pageContent ul {
    list-style-type: none;
    padding: 0;
}

.pageContent li {
    margin-bottom: 10px;
    font-size: 1rem;
}