.pageContainer {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: all 0.3s ease;
    padding-top: 70px; /* Add padding equal to navbar height */
    min-height: 100vh;
}

.pageTitle {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.pageContent {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}


.pageContent h2 {
    margin-top: 0;
    text-align: center;
}

.pageContent ul {
    list-style-type: none;
    padding: 0;
}

.pageContent li {
    margin-bottom: 10px;
    font-size: 1rem;
}